*.cs linguist-detectable=true
*.unity linguist-detectable=false
*.asset linguist-detectable=false
*.prefab linguist-detectable=false
*.mat linguist-detectable=false
*.anim linguist-detectable=false
*.controller linguist-detectable=false
*.shader linguist-detectable=false
*.txt linguist-detectable=false
*.jpg linguist-detectable=false
*.png linguist-detectable=false
*.tga linguist-detectable=false
*.ogg linguist-detectable=false
*.wav linguist-detectable=false
*.mp3 linguist-detectable=false
*.fbx linguist-detectable=false
*.obj linguist-detectable=false
*.blend linguist-detectable=false
*.3ds linguist-detectable=false
*.tif linguist-detectable=false
